<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistika Srbije</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="max-w-5xl mx-auto p-6 text-center">
        <h1 class="text-4xl font-bold mb-4">Dobrodošli u Srbiju</h1>
        <p class="text-lg text-gray-700 mb-6">Odaberite šta želite da istražite:</p>
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <a href="/izvoz_po_industriji" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Izvoz Po Industriji</h2>
                <p class="text-gray-600">Analizirajte izvoz Srbije po industrijskim sektorima.</p>
            </a>
            <a href="/uvoz_po_industriji" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Uvoz Po Industriji</h2>
                <p class="text-gray-600">Analizirajte uvoz Srbije po industrijskim sektorima.</p>
            </a>
            <a href="/priliv_turista" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Priliv Turista</h2>
                <p class="text-gray-600">Pregledajte podatke o dolasku turista u Srbiju.</p>
            </a>
             <a href="/bracni_status" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Bracni Status Drzavljanja Srbije</h2>
                <p class="text-gray-600">Bracni status drzavljanja Srbije podaci 2022.</p>
            </a>
            <a href="/stopa_nezaposlenosti" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Stopa Nezaposlenosti</h2>
                <p class="text-gray-600">Kvartalni podaci stope nezaposlenosti.</p>
            </a>
            <a href="/stopa_zaposlenosti" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Stopa Zaposlenosti</h2>
                <p class="text-gray-600">Kvartalni podaci stope zaposlenosti.</p>
            </a>
            <a href="/prosecna_zarada_po_industriji" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Prosecna Neto Zarada Po Industriji</h2>
                <p class="text-gray-600">Prosecna mesecna neto zarada po industriji.</p>
            </a>
            <a href="/broj_zaposlenih_po_oblasti_delatnosti" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition">
                <h2 class="text-2xl font-semibold mb-2">Broj Zaposlenih Po Delatnosti</h2>
                <p class="text-gray-600">Kvartalni broj broja zaposlenih po oblasti delatnosti.</p>
            </a>
        </div>
    </div>
</body>
</html>
